* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(redmagic.jpg);
    text-align: center;
    align-content: center;
}

.container {
    background: url('kupal.jpg.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}